apiVersion: v1
kind: Pod
metadata:
  name: vae-setup-pod
spec:
  containers:
  - name: gpu-container
    image: timttu/vae-pneumonia:v2
    command: ["/bin/bash", "-c"]
    args: [
      "set -e && \
          echo '=== System Info ===' && \
          free -h && \
          nvidia-smi && \
          git config --global credential.helper store && \
          echo \"https://oauth2:${GIT_ACCESS_TOKEN}@github.com\" > ~/.git-credentials && \
          cd .. && \
          cd /mnt/tim && \
          echo '=== Setting up VAE_for_Pneumonia repository ===' && \
          if [ ! -d 'VAE_for_Pneumonia' ]; then \
            echo 'Cloning VAE_for_Pneumonia repository...' && \
            git clone https://github.com/timtutu2/VAE_for_Pneumonia.git ; \
          else \
            echo 'Repository exists, updating...' && \
            cd VAE_for_Pneumonia && \
            git fetch origin && \
            git pull origin master && \
            cd .. ; \
          fi && \
          cd VAE_for_Pneumonia && \
          echo '=== Memory check before download ===' && \
          free -h && \
          echo '=== Downloading chest X-ray dataset from Google Drive ===' && \
          if [ ! -f 'chest_xray.zip' ] && [ ! -d 'chest_xray' ]; then \
            echo 'Downloading dataset (this may take a while)...' && \
            gdown 17lpDEWMXtmqGrQjUKMkc66_JIyW1NzWo -O chest_xray.zip ; \
          else \
            echo 'Dataset already exists, skipping download' ; \
          fi && \
          echo '=== Extracting dataset ===' && \
          if [ ! -d 'chest_xray' ] && [ -f 'chest_xray.zip' ]; then \
            echo 'Extracting chest_xray.zip...' && \
            unzip -q chest_xray.zip && \
            echo 'Cleaning up zip file to save space...' && \
            rm -f chest_xray.zip && \
            echo 'Extraction complete!' ; \
          elif [ -d 'chest_xray' ]; then \
            echo 'Dataset already extracted' && \
            rm -f chest_xray.zip ; \
          else \
            echo 'Error: No zip file or directory found' ; \
          fi && \
          echo '=== Dataset structure ===' && \
          ls -lh && \
          if [ -d 'chest_xray' ]; then \
            echo 'Contents of chest_xray:' && \
            ls -lh chest_xray/ && \
            du -sh chest_xray/ ; \
          fi && \
          echo '=== Final Memory Status ===' && \
          free -h && \
          echo '=== Setup Complete ===' && \
          echo 'Repository: /mnt/tim/VAE_for_Pneumonia' && \
          echo 'Dataset: /mnt/tim/VAE_for_Pneumonia/chest_xray' && \
          echo 'You can now run train.py or evaluate.py' && \
          echo 'Keeping pod alive...' && \
          sleep infinity"
    ]
    env:
    - name: AUTO_MODE
      value: "true"
    - name: GIT_ACCESS_TOKEN
      valueFrom:
        secretKeyRef:
          name: github--token
          key: GIT_ACCESS_TOKEN
    volumeMounts:
    - mountPath: /mnt
      name: erl-ucsd
    resources:
      limits:
        nvidia.com/gpu: "1"
        memory: "32G"
        cpu: "4"
      requests:
        nvidia.com/gpu: "1"
        memory: "32G"
        cpu: "3"
  restartPolicy: Never
  affinity:
    nodeAffinity:
      # Exclude nodes with CSI driver issues
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: NotIn
            values:
            - "k8s-haosu-04.sdsc.optiputer.net"
      preferredDuringSchedulingIgnoredDuringExecution:
      # Empirically determined nodes with good network to download large docker images
      - weight: 100
        preference:
          matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - "ry-gpu-01.sdsc.optiputer.net"
            - "ry-gpu-02.sdsc.optiputer.net"
            - "ry-gpu-03.sdsc.optiputer.net"
            - "ry-gpu-04.sdsc.optiputer.net"
            - "ry-gpu-05.sdsc.optiputer.net"
            - "ry-gpu-06.sdsc.optiputer.net"
            - "ry-gpu-07.sdsc.optiputer.net"
            - "ry-gpu-08.sdsc.optiputer.net"
            - "ry-gpu-09.sdsc.optiputer.net"
            - "ry-gpu-10.sdsc.optiputer.net"
            - "ry-gpu-11.sdsc.optiputer.net"
            - "ry-gpu-12.sdsc.optiputer.net"
            - "ry-gpu-13.sdsc.optiputer.net"
            - "ry-gpu-14.sdsc.optiputer.net"
            - "ry-gpu-15.sdsc.optiputer.net"
            - "ry-gpu-16.sdsc.optiputer.net"
            - "k8s-3090-01.calit2.optiputer.net"
            - "k8s-4090-01.calit2.optiputer.net"
            - "k8s-4090-02.calit2.optiputer.net"
      - weight: 50
        preference:
          matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - "k8s-haosu-02.sdsc.optiputer.net"
            - "k8s-haosu-03.sdsc.optiputer.net"
            - "k8s-haosu-04.sdsc.optiputer.net"
            - "k8s-haosu-05.sdsc.optiputer.net"
            - "k8s-haosu-06.sdsc.optiputer.net"
            - "k8s-haosu-07.sdsc.optiputer.net"
            - "k8s-haosu-08.sdsc.optiputer.net"
            - "k8s-haosu-09.sdsc.optiputer.net"
            - "k8s-haosu-10.sdsc.optiputer.net"
            - "k8s-haosu-11.sdsc.optiputer.net"
            - "k8s-haosu-12.sdsc.optiputer.net"
            - "k8s-haosu-13.sdsc.optiputer.net"
            - "k8s-haosu-14.sdsc.optiputer.net"
            - "k8s-haosu-15.sdsc.optiputer.net"
            - "k8s-haosu-16.sdsc.optiputer.net"
            - "k8s-haosu-17.sdsc.optiputer.net"
            - "k8s-haosu-18.sdsc.optiputer.net"
            - "k8s-haosu-19.sdsc.optiputer.net"
            - "k8s-haosu-20.sdsc.optiputer.net"
            - "k8s-haosu-21.sdsc.optiputer.net"
            - "k8s-haosu-22.sdsc.optiputer.net"
            - "k8s-haosu-23.sdsc.optiputer.net"
      - weight: 80
        preference:
          matchExpressions:
          - key: nvidia.com/gpu.product
            operator: In
            values:
            - "NVIDIA-A100-80GB-PCIe"
            - "NVIDIA-A100-SXM4-80GB"
            - "NVIDIA-A100-80GB-PCIe-MIG-1g.10gb"
            - "NVIDIA-A100-PCIE-40GB"
            - "NVIDIA-RTX-A6000"
            - "NVIDIA-RTX-A5000"
            - "NVIDIA-GeForce-RTX-4090"
            - "NVIDIA-GeForce-RTX-4080"
            - "NVIDIA-GeForce-RTX-3090-Ti"
            - "NVIDIA-GeForce-RTX-3090"
            - "NVIDIA-GeForce-RTX-3080-Ti"
            - "NVIDIA-GeForce-RTX-3080"
      - weight: 60
        preference:
          matchExpressions:
          - key: nvidia.com/gpu.product
            operator: In
            values:
            - "NVIDIA-A40"
            - "Tesla-V100-SXM2-32GB"
            - "Tesla-V100-PCIE-16GB"
      - weight: 50
        preference:
          matchExpressions:
          - key: nvidia.com/gpu.product
            operator: In
            values:
            - "NVIDIA-TITAN-RTX"
            - "NVIDIA-GeForce-RTX-2080-Ti"
            - "NVIDIA-TITAN-Xp"
            - "NVIDIA-L40"
            - "NVIDIA-A10"
  volumes:
    - name: erl-ucsd
      persistentVolumeClaim:
        claimName: erl-ucsd



